{% extends 'bootstrap/base.html' %} {% block scripts %} {{ super() }} {{
moment.include_moment() }}
<script>
  $(function() {
    // Hover Event
    var timer = null;
    var xhr = null;
    $(".user_popup").hover(
      // mouse in event handler
      function(event) {
        var elem = $(event.currentTarget);
        timer = setTimeout(function() {
          timer = null;
          // start popup logic
          xhr = $.ajax(
            "/user/" +
              elem
                .first()
                .text()
                .trim() +
              "/popup"
          ).done(function(data) {
            xhr = null;
            // create and display popup
            elem
              .popover({
                trigger: "manual",
                html: true,
                animation: false,
                container: elem,
                content: data
              })
              .popover("show");
            // when new flask moment elements are added via ajax, you must call this function to appropriately render those elements
            flask_moment_render_all();
          });
        }, 1000);
      },
      // mouse out event handler
      function(event) {
        var elem = $(event.currentTarget);
        if (timer) {
          clearTimeout(timer);
          timer = null;
        } else if (xhr) {
          xhr.abort();
          xhr = null;
        } else {
          // destroy popup here
          elem.popover("destroy");
        }
      }
    );
  });
  function set_message_count(n) {
    $('#message_count').text(n)
    $('#message_count').css('visibility', n ? 'visible' : 'hidden')
  }
  {% if current_user.is_authenticated %}
  $(function() {
    var since = 0
    setInterval(function() {
      $.ajax('{{ url_for('main.notifications') }}?since=' + since).done(
        function(notifications) {
          for(var i = 0; i < notifications.length; i++) {
            if(notifications[i].name == 'unread_message_count')
              set_message_count(notifications[i].data)
            since = notifications[i].timestamp
          }
        }
      )
    }, 10000)
  })
  {% endif %}
</script>
{% endblock %} {% block title %} {% if title %} {{ title }} - Microblog {% else
%} Welcome to Microblog! {% endif %} {% endblock %} {% block navbar %}
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false"
      >
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('main.index') }}">Microblog</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        <li><a href="{{ url_for('main.explore') }}">Explore</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_anonymous %}
        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
        {% else %}
        <li>
          <a href="{{ url_for('main.messages') }}">
            Messages {% set new_messages = current_user.new_messages() %}
            <span
              id="message_count"
              class="badge"
              style="visibility: {% if new_messages %}visible 
                                 {% else %}hidden {% endif %};"
            >
              {{ new_messages }}
            </span>
          </a>
        </li>
        <li>
          <a href="{{ url_for('main.user', username=current_user.username) }}"
            >Profile</a
          >
        </li>
        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %} {% block content %}
<div class="container">
  {% with messages = get_flashed_messages() %} {% if messages %} {% for message
  in messages %}
  <div class="alert alert-info" role="alert">{{ message }}</div>
  {% endfor %} {% endif %} {% endwith %} {# application content needs to be
  provided in the app_content block #} {% block app_content %} {% endblock %}
</div>
{% endblock %}
